<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style-main.css">
    <title>Word Counter</title>
</head>
<body>
    <header></header>
    <nav id="nav-bar"></nav>
    <section id="main-section">
        <aside id="left-aside"></aside>
        <div id="main-container">
            <div id="main-heading">Word Counter</div>
            <div id="counter-container">
                <div id="text-area">
                    <textarea name="required-para" id="required-para" cols="30" rows="10"></textarea>
                </div>
                <div id="control-area">
                    <button class="control-button" id="clear-button">Clear</button>
                    <button class="control-button" id="calculate-button">Count</button>
                </div>
                <div id="result-area">
                    <div id="total-words">Total words : </div>
                </div>
            </div>
        </div>
        <aside id="right-aside"></aside>
    </section>
    <footer></footer>
    <!-- Scripts -->
    <script type="text/javascript" src="./js/words-counter.js"></script>
    <script type="text/javascript" src="./js/counter.js"></script>
</body>
</html>