<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word Counter</title>
</head>
<body>
    <header></header>
    <nav></nav>
    <section id="main-section">
        <aside id="left-aside"></aside>
        <div id="main-article">
            <h1>Word counter</h1>
            <div id="text-area"></div>
            <div id="result-area"></div>
            <div id="control-area"></div>
        </div>
        <aside id="right-aside"></aside>
    </section>
    <footer></footer>
</body>
</html>